{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}

<br><br>
<h4>3 Ploegenrooster Fenner Dunlop 2025</h4>
<br><br>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">2025</th>
        <th scope="col">30/12 - 05/01</th>
        <th scope="col">06/01 - 12/01</th>
        <th scope="col">13/01 - 19/01</th>
        <th scope="col">20/01 - 26/01</th>
        <th scope="col">27/01 - 02/02</th>
        <th scope="col">03/02 - 09/02</th>
        <th scope="col">10/02 - 16/02</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">WeekNr.</th>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr>
        <th scope="row">Rood</th>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
      </tr>
      <tr>
        <th scope="row">Blauw</th>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
      </tr>
      <tr>
        <th scope="row">Groen</th>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
      </tr>
    </tbody>
  </table>

  <br><br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">2025</th>
        <th scope="col">17/02 - 23/02</th>
        <th scope="col">24/02 - 02/03</th>
        <th scope="col">03/03 - 09/03</th>
        <th scope="col">10/03 - 16/03</th>
        <th scope="col">17/03 - 23/03</th>
        <th scope="col">24/03 - 30/03</th>
        <th scope="col">31/03 - 06/04</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">WeekNr.</th>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
      </tr>
      <tr>
        <th scope="row">Rood</th>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
      </tr>
      <tr>
        <th scope="row">Blauw</th>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
      </tr>
      <tr>
        <th scope="row">Groen</th>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
      </tr>
    </tbody>
  </table>

  <br><br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">2025</th>
        <th scope="col">07/04 - 13/04</th>
        <th scope="col">14/04 - 20/04</th>
        <th scope="col">21/04 - 27/04</th>
        <th scope="col">28/04 - 04/05</th>
        <th scope="col">05/05 - 11/05</th>
        <th scope="col">12/05 - 18/05</th>
        <th scope="col">19/05 - 25/05</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">WeekNr.</th>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
        <td>21</td>
      </tr>
      <tr>
        <th scope="row">Rood</th>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
      </tr>
      <tr>
        <th scope="row">Blauw</th>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
      </tr>
      <tr>
        <th scope="row">Groen</th>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
      </tr>
    </tbody>
  </table>

  <br><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">2025</th>
        <th scope="col">26/05 - 01/06</th>
        <th scope="col">02/06 - 08/06</th>
        <th scope="col">09/06 - 15/06</th>
        <th scope="col">16/06 - 22/06</th>
        <th scope="col">23/06 - 29/06</th>
        <th scope="col">30/06 - 06/07</th>
        <th scope="col">07/07 - 13/07</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">WeekNr.</th>
        <td>22</td>
        <td>23</td>
        <td>24</td>
        <td>25</td>
        <td>26</td>
        <td>27</td>
        <td>28</td>
      </tr>
      <tr>
        <th scope="row">Rood</th>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
      </tr>
      <tr>
        <th scope="row">Blauw</th>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
      </tr>
      <tr>
        <th scope="row">Groen</th>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
      </tr>
    </tbody>
  </table>

  <br><br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">2025</th>
        <th scope="col">14/07 - 20/07</th>
        <th scope="col">21/01 - 27/07</th>
        <th scope="col">28/07 - 03/08</th>
        <th scope="col">04/08 - 10/08</th>
        <th scope="col">11/08 - 17/08</th>
        <th scope="col">18/08 - 24/08</th>
        <th scope="col">25/08 - 31/08</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">WeekNr.</th>
        <td>29</td>
        <td>30</td>
        <td>31</td>
        <td>32</td>
        <td>33</td>
        <td>34</td>
        <td>35</td>
      </tr>
      <tr>
        <th scope="row">Rood</th>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
      </tr>
      <tr>
        <th scope="row">Blauw</th>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
      </tr>
      <tr>
        <th scope="row">Groen</th>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
      </tr>
    </tbody>
  </table>

  <br><br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">2025</th>
        <th scope="col">01/09 - 07/09</th>
        <th scope="col">08/09 - 14/09</th>
        <th scope="col">15/01 - 21/09</th>
        <th scope="col">22/09 - 28/09</th>
        <th scope="col">29/09 - 05/10</th>
        <th scope="col">06/10 - 12/10</th>
        <th scope="col">13/10 - 19/10</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">WeekNr.</th>
        <td>36</td>
        <td>37</td>
        <td>38</td>
        <td>39</td>
        <td>40</td>
        <td>41</td>
        <td>42</td>
      </tr>
      <tr>
        <th scope="row">Rood</th>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
      </tr>
      <tr>
        <th scope="row">Blauw</th>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
      </tr>
      <tr>
        <th scope="row">Groen</th>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
      </tr>
    </tbody>
  </table>

  <br><br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">2025</th>
        <th scope="col">20/10 - 26/10</th>
        <th scope="col">27/10 - 02/11</th>
        <th scope="col">03/11 - 09/11</th>
        <th scope="col">10/11 - 16/11</th>
        <th scope="col">17/11 - 23/11</th>
        <th scope="col">24/11 - 30/11</th>
        <th scope="col">01/12 - 07/12</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">WeekNr.</th>
        <td>43</td>
        <td>44</td>
        <td>45</td>
        <td>46</td>
        <td>47</td>
        <td>48</td>
        <td>49</td>
      </tr>
      <tr>
        <th scope="row">Rood</th>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
      </tr>
      <tr>
        <th scope="row">Blauw</th>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
      </tr>
      <tr>
        <th scope="row">Groen</th>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
      </tr>
    </tbody>
  </table>

  <br><br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">2025/26</th>
        <th scope="col">08/12 - 14/12</th>
        <th scope="col">15/12 - 21/12</th>
        <th scope="col">22/12 - 28/12</th>
        <th scope="col">29/12 - 04/01</th>
        <th scope="col">05/01 - 11/01</th>
        <th scope="col">12/01 - 18/01</th>
        <th scope="col">19/01 - 25/01</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">WeekNr.</th>
        <td>50</td>
        <td>51</td>
        <td>52</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row">Rood</th>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
        <td class="bg-danger">L</td>
        <td class="bg-danger">V</td>
        <td class="bg-danger">N</td>
      </tr>
      <tr>
        <th scope="row">Blauw</th>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
        <td class="bg-primary">N</td>
        <td class="bg-primary">L</td>
        <td class="bg-primary">V</td>
      </tr>
      <tr>
        <th scope="row">Groen</th>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
        <td class="bg-success">V</td>
        <td class="bg-success">N</td>
        <td class="bg-success">L</td>
      </tr>
    </tbody>
  </table>

<br><br><br>

<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button class="btn btn-dark">Uitloggen</button>
</form>
{% else %}
<br><br><br>
<h3><span class="red">Dunlop </span>3 Ploegenrooster</h3>
<p>Je bent niet ingelogd.</p>
<a href="{% url 'login' %}" class="btn btn-dark">Inloggen</a>

{% endif %}
{% endblock content %}
    
